services:
  - type: web
    name: supermemorynn
    runtime: docker
    dockerfilePath: ./Dockerfile
    plan: free

    envVars:
      - key: TG_BOT_TOKEN
        sync: false
      - key: TG_CHAT_ID
        sync: false
      - key: TG_ADMIN_ID
        sync: false
      - key: N8N_ENCRYPTION_KEY
        sync: false

      - key: NODE_OPTIONS
        value: "--max-old-space-size=380"

      - key: EXECUTIONS_DATA_PRUNE
        value: "true"
      - key: EXECUTIONS_DATA_MAX_AGE
        value: "24"
      - key: EXECUTIONS_DATA_PRUNE_MAX_COUNT
        value: "100"
      - key: EXECUTIONS_DATA_SAVE_ON_SUCCESS
        value: "none"
      - key: EXECUTIONS_DATA_SAVE_ON_ERROR
        value: "none"
      - key: EXECUTIONS_DATA_SAVE_MANUAL_EXECUTIONS
        value: "false"

      - key: N8N_PORT
        value: "5678"
      - key: PORT
        value: "5678"

      - key: GENERIC_TIMEZONE
        value: "Asia/Baghdad"
