services:
  - type: web
    name: supermemorynn
    runtime: docker
    dockerfilePath: ./Dockerfile
    plan: free
    healthCheckPath: /healthz
    envVars:
      - key: TG_BOT_TOKEN
        sync: false
      - key: TG_CHAT_ID
        sync: false
      - key: TG_ADMIN_ID
        sync: false
      - key: N8N_HOST
        sync: false
      - key: WEBHOOK_URL
        sync: false
      - key: N8N_ENCRYPTION_KEY
        sync: false
      - key: N8N_BASIC_AUTH_USER
        sync: false
      - key: N8N_BASIC_AUTH_PASSWORD
        sync: false
      - key: MONITOR_INTERVAL
        value: "60"
      - key: MIN_BACKUP_INTERVAL_SEC
        value: "120"
      - key: FORCE_BACKUP_EVERY_SEC
        value: "1800"
      - key: BACKUP_BINARYDATA
        value: "false"
      - key: CHUNK_SIZE
        value: "45M"
      - key: N8N_PORT
        value: "5678"
      - key: PORT
        value: "5678"
      - key: N8N_PROTOCOL
        value: "https"
      - key: GENERIC_TIMEZONE
        value: "Asia/Baghdad"
      - key: N8N_DIAGNOSTICS_ENABLED
        value: "false"
      - key: EXECUTIONS_DATA_PRUNE
        value: "true"
      - key: EXECUTIONS_DATA_MAX_AGE
        value: "168"
      - key: EXECUTIONS_DATA_SAVE_ON_SUCCESS
        value: "none"
      - key: N8N_BASIC_AUTH_ACTIVE
        value: "true"
      - key: DB_SQLITE_VACUUM_ON_STARTUP
        value: "true"
