services:
  - type: web
    name: supermemorynn
    runtime: docker
    dockerfilePath: ./Dockerfile
    plan: free
    envVars:
      - key: TG_BOT_TOKEN
        sync: false
      - key: TG_CHAT_ID
        sync: false
      - key: TG_ADMIN_ID
        sync: false

      - key: MONITOR_INTERVAL
        value: "300"
      - key: MIN_BACKUP_INTERVAL_SEC
        value: "600"
      - key: FORCE_BACKUP_EVERY_SEC
        value: "21600"
      - key: CHUNK_SIZE
        value: "18M"

      - key: EXECUTIONS_DATA_PRUNE
        value: "true"
      - key: EXECUTIONS_DATA_MAX_AGE
        value: "1"
      - key: EXECUTIONS_DATA_SAVE_ON_SUCCESS
        value: "none"
      - key: EXECUTIONS_DATA_SAVE_ON_ERROR
        value: "all"
      - key: EXECUTIONS_DATA_SAVE_MANUAL_EXECUTIONS
        value: "false"

      - key: N8N_PORT
        value: "5678"
      - key: PORT
        value: "5678"
      - key: N8N_PROTOCOL
        value: "https"
      - key: N8N_HOST
        sync: false
      - key: WEBHOOK_URL
        sync: false
      - key: N8N_ENCRYPTION_KEY
        sync: false
      - key: N8N_BASIC_AUTH_ACTIVE
        value: "true"
      - key: N8N_BASIC_AUTH_USER
        sync: false
      - key: N8N_BASIC_AUTH_PASSWORD
        sync: false
      - key: GENERIC_TIMEZONE
        value: "Asia/Baghdad"
      - key: N8N_DIAGNOSTICS_ENABLED
        value: "false"
      - key: N8N_DEFAULT_BINARY_DATA_MODE
        value: "filesystem"
      - key: N8N_BINARY_DATA_TTL
        value: "1"
